* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("blurry.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

#page{
    opacity:0.6;
    background-color: black;
    display:none;
    position:fixed;
    top:0px; right:0px; bottom:0px; left:0px;
  }

.underconstruction {
    margin-top: 90px;
    margin-bottom: 30px;
}

h1 {
    font-size: 130px;
    width: 100%;
    margin: -30px auto;
    padding: 0 auto;
    text-align: center;
    color: white;
    font-family: Anton;
    font-weight: 200px;
}

h2 {
    font-size: 20px;
    width: 100%;
    margin: -30px auto;
    text-align: center;
    color: white;
    font-family: Slabo;
    font-weight: 100px;
}

.progressbarcontainer {
    display: grid;
    grid-template-areas: 'progress progress' 'percentage1 percentage2';
    height: 60px;
    width: 100%;
    justify-content: center;
}

.progress {
    grid-area: progress;
    content: "";
    background-color: #dddddd;
    height: 15px;
    width: 18rem;
    display: block;
    margin-top: 25px;
}

.progressline {
    grid-area: progress;
    content: "";
    background-color: #D0F0C0;
    height: 100%;
    width: 75%;
    display: block;
    animation: 3s slideInFromLeft 0s 1;
}

.percentage1 {
    grid-area: percentage1;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.percentage2 {
    grid-area: percentage2;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    justify-self: right;
    font-size: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.firstbutton{
    height: 50px;
    width: 190px;
    margin: 0 auto;
    font-family: Anton;
    font-weight: 700px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #D0F0C0;
    border: none;
    color: #7C8B95;
}


.icons {
    display: block;
    text-align: center;
    margin-top: 40px;
}

img {
    width: 60px;
    margin: 20px 20px;
}

.drawer{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 23rem;
    background-color: #D0F0C0;
    color: white;
    text-align: center;
    font-family: Anton;
    padding: 3rem;
    transform: translateX(130%);
    padding-top: 120px;
}

.signup {
    height: 40px;
    width: 150px;
    margin: 0 auto;
    font-family: Anton;
    font-weight: 700px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #7C8B95;
    border: 1px 606060;
    color: white;
    box-shadow: 1px 1px 2px 2px gray;
}

.goaway {
    color: black;
    font-size: 25px;
    position: fixed;
    top: 18px;
    right: 30px;
    font-family: Poppins;
    font-weight: 200;
}

h3 {
    font-family: Anton;
    font-size: 36px;
}

p {
    font-size: 18px;
    font-family: Slabo;
}

form {
    padding-top: 30px;
    display: flex;
}

input {
    height: 40px;
    width: 150px;
    padding: 0px 10px;
    font-family: Slabo;
    font-size: 16px;
    color: gray;
    border-radius: 5px;
    float: right;
}

footer {
    color: white;
    text-align: center;
    width: 100%;
    font-family: Slabo;
    margin-top: 20px;
    padding-bottom: 20px;
}

@keyframes slidein-left {
    from {
        transform: translateX(130%); }
    to {
        transform: translateX(0); } }

@keyframes slideout-right {
    from {
        transform: translateX(0); }
    to {
        transform: translateX(130%); } }

@keyframes slideInFromLeft {
    from {
     width: 0%; }
    to {
     width: 75%; }}

@media only screen and (min-width: 414px) and (max-width: 780px){
    body {
    margin: auto 0;
    background-size: auto;
    height: auto;
    background-attachment: initial;
      };
    
    container {
        margin: auto 0;
    }
    
    .underconstruction {
        margin-top: 180px;
    }

    footer {
        margin-bottom: 180px;
    
}}