* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("blurry.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.underconstruction {
    margin-top: 90px;
    margin-bottom: 30px;
}

h1 {
    font-size: 130px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight: 200px;
}

h2 {
    font-size: 20px;
    width: 100%;
    margin: -10px auto;
    text-align: center;
    color: white;
    font-family: Optima;
    font-weight: 100px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.firstbutton{
    height: 50px;
    width: 190px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight: 700px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #D0F0C0;
    border: none;
    color: #7C8B95;
}


.icons {
    display: block;
    text-align: center;
    margin-top: 40px;
}

img {
    width: 60px;
    margin: 20px 20px;
}

.drawer{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 23rem;
    background-color: #D0F0C0;
    color: white;
    text-align: center;
    font-family: Optima;
    padding: 3rem;
}

.signup {
    height: 40px;
    width: 150px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-weight: 700px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #7C8B95;
    border: 1px 606060;
    color: white;
    box-shadow: 1px 1px 2px 2px gray;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 36px;
}

p {
    font-size: 18px;
}

form {
    padding-top: 30px;
    display: flex;
}

input {
    height: 40px;
    width: 150px;
    padding: 0px 10px;
    font-family: Optima;
    font-size: 16px;
    color: gray;
    border-radius: 5px;
    float: right;
}

footer {
    color: white;
    text-align: center;
    width: 100%;
    font-family: Optima;
    margin-top: 20px;
}

@keyframes slidein-left {
    from {
      transform: translateX(26rem); }
    to {
      transform: translateX(0); } }